<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Example06_01</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BootstrapServlet</servlet-name>
    <servlet-class>com.sappress.hcpbook.chp06.BootstrapServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>IncidentEditorServlet</servlet-name>
    <servlet-class>com.sappress.hcpbook.chp06.IncidentEditorServlet</servlet-class>
    <init-param>
      <param-name>google_api_key</param-name>
      <param-value><!-- Your API key goes here... --></param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>IncidentWorklistServlet</servlet-name>
    <servlet-class>com.sappress.hcpbook.chp06.IncidentWorklistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncidentQueryServlet</servlet-name>
    <servlet-class>com.sappress.hcpbook.chp06.IncidentQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncidentMailerServlet</servlet-name>
    <servlet-class>com.sappress.hcpbook.chp06.IncidentMailerServlet</servlet-class>
    <init-param>
      <param-name>senderAddress</param-name>
      <param-value>noreply@sap-press.com</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ConfigurationManagerServlet</servlet-name>
    <servlet-class>com.sappress.hcpbook.chp06.ConfigurationManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncidentODataProviderServlet</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.olingo.odata2.service.factory</param-name>
      <param-value>com.sappress.hcpbook.chp06.persistence.ODataServiceFactory</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>cmisproxy</servlet-name>
    <servlet-class>com.sappress.hcpbook.chp06.document.CMISProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncidentWorklistServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncidentEditorServlet</servlet-name>
    <url-pattern>/EditIncident.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncidentQueryServlet</servlet-name>
    <url-pattern>/QueryIncidents.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncidentMailerServlet</servlet-name>
    <url-pattern>/MailIncident.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigurationManagerServlet</servlet-name>
    <url-pattern>/ConfigureSystem.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncidentODataProviderServlet</servlet-name>
    <url-pattern>/IncidentProcessing.svc/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cmisproxy</servlet-name>
    <url-pattern>/cmis/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Proxy</web-resource-name>
      <url-pattern>/cmis/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>EcmDeveloper</role-name>
    </auth-constraint>
  </security-constraint>
  <resource-ref>
    <res-ref-name>EcmService</res-ref-name>
    <res-type>com.sap.ecm.api.EcmService</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>mail/Session</res-ref-name>
    <res-type>javax.mail.Session</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>GoogleGeocodeDest</res-ref-name>
    <res-type>com.sap.core.connectivity.api.http.HttpDestination</res-type>
  </resource-ref>
</web-app>